section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

        /* CSS for the timer at the top of the screen */
#timer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

button.yes_btn{
    position: absolute;
    top: 40%;
    left: 35%;
    background-color: rgb(9, 126, 126);
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 8%;
}

button.no_btn{
    position: absolute;
    top: 40%;
    left: 55%;
    background-color: rgb(9, 126, 126);
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 8%;
}

button.continue_btn{
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: rgb(9, 126, 126);
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 8%;
}

button.restart_btn{
    position: absolute;
    top: 40%;
    left: 45%;
    background-color: rgb(9, 126, 126);
    border: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    width: 10%;
    height: 10%;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 8%;
}

form{
    position: absolute;
    top: 50%;
    left: 40%
}


